*.swp
*.*~
*.cache

project.lock.json
.DS_Store

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

.vs/
*.sqlite
fakemail-deployment/
