html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: ivory;
}

.sourcecode {
    background-color: lightgrey;
    font-family: monospace;
    padding: 3px;
    border-radius: 4px;
    margin: 8px;
}

.copyable-text {
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the outline */
}

    .copyable-text:hover {
        box-shadow: 0 0 0 2px #607b7f; /* Blue outline */
    }
