html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: ivory;
}

.sourcecode {
    background-color: lightgrey;
    font-family: monospace;
    padding: 2px;
    margin: 8px;
}
