[Unit]
Description=Fakemail web

[Service]
WorkingDirectory=/home/fakemail/bin/web
ExecStart=/usr/bin/dotnet Fakemail.Web.dll --urls http://localhost:6000
Restart=always
RestartSec=30
KillSignal=SIGINT
User=fakemail
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
