[Unit]
Description=fakemailsmtpserver

[Service]
ExecStart=/usr/bin/dotnet /home/ansible/Fakemail.Smtp/Fakemail.Smtp.dll
Restart=on-failure

[Install]
WantedBy=multi-user.target
