@{
    ViewData["Title"] = "fakemail.stream";
}
<div class="text-left">
    <h5><em>A fake SMTP server for software integration testing.</em></h5>
</div>

<br />

<p><span style="font-weight: 700">Welcome, Anonymous user.</span></p>
<p>Here are your SMTP settings =>
Host: <span class="sourcecode copyable-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">fakemail.stream:587</span>
Credentials: <button class="btn btn-secondary btn-sm" onclick="generate_onclick()">Generate...</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>From</th>
            <th>Delivered-To</th>
            <th>Subject</th>
            <th>Body</th>
            <th>Attachments</th>
            <th></th>
        </tr>
    </thead> 
    <tbody>     
    </tbody>
</table>

<div class="spinner-border" role="status"></div>
<br />
<span class="">Waiting for emails to arrive...</span>

@section Scripts {
<script type="text/javascript">
    function generate_onclick() {
        window.location.href = '/user/'
    }
</script>
}