@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site contains no advertising or third-party analytics; only data required for the operation of the service is stored.</p> 

<p>Emails are deleted after 24 hours and there are no backups.</p>

<p>Logs (containing IP addresses) are stored for the purposes of troubleshooting and site reliability.</p>

